<?xml version="1.0"?>
<config>
    <modules>
        <Example_Catalog>
            <version>1.0.0</version>
        </Example_Catalog>
    </modules>
    <default>
        <example_catalog>
            <mass_action>
                <update_price>
                    <percent>10</percent>
                </update_price>
            </mass_action>
        </example_catalog>
    </default>
    <global>
        <blocks>
            <example_catalog>
                <class>Example_Catalog_Block</class>
            </example_catalog>
        </blocks>
        <models>
            <example_catalog_observer>
                <class>Example_Catalog_Observer</class>
            </example_catalog_observer>

            <example_catalog>
                <class>Example_Catalog_Model</class>
                <resourceModel>example_catalog_resource</resourceModel>
            </example_catalog>

            <example_catalog_resource>
                <class>Example_Catalog_Model_Resource</class>
                <entities>
                    <EventLog>
                        <table>example_catalog_events_logs</table>
                    </EventLog>
                </entities>
            </example_catalog_resource>
        </models>
        <resources>
            <example_catalog_setup>
                <setup>
                    <module>Example_Catalog</module>
                </setup>
            </example_catalog_setup>
        </resources>
        <helpers>
            <example_catalog>
                <class>Example_Catalog_Helper</class>
            </example_catalog>
        </helpers>
        <events>

            <example_catalog_product_saved>
                <observers>
                    <example_catalog_observer>
                        <type>model</type>
                        <class>Example_Catalog_Observer_Dispatcher</class>
                        <method>productSaved</method>
                    </example_catalog_observer>
                </observers>
            </example_catalog_product_saved>

            <example_catalog_mass_increased>
                <observers>
                    <example_catalog_observer>
                        <type>model</type>
                        <class>Example_Catalog_Observer_Dispatcher</class>
                        <method>massIncreased</method>
                    </example_catalog_observer>
                </observers>
            </example_catalog_mass_increased>

            <example_catalog_mass_decreased>
                <observers>
                    <example_catalog_observer>
                        <type>model</type>
                        <class>Example_Catalog_Observer_Dispatcher</class>
                        <method>massDecreased</method>
                    </example_catalog_observer>
                </observers>
            </example_catalog_mass_decreased>
        </events>
    </global>
    <admin>
        <routers>
            <example_catalog>
                <use>admin</use>
                <args>
                    <module>Example_Catalog</module>
                    <frontName>example_catalog_admin</frontName>
                </args>
            </example_catalog>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <example_catalog>
                <title>Example Catalog</title>
                <sort_order>100</sort_order>
                <action>example_catalog_admin/adminhtml_catalog</action>
            </example_catalog>
        </menu>
        <layout>
            <updates>
                <example_catalog>
                    <file>example_catalog.xml</file>
                </example_catalog>
            </updates>
        </layout>
    </adminhtml>
</config>
